/* .headerClass{
  height: 100px;
  width: 100%;
  background: #cccccc
} */
/* .contentClass {
  min-height: calc(100vh - 200px);
  width: 100%;
  background: white;
}
.footerClass {
  height: 100px;
  background: #cccccc;
} */

.displayInline {
  display: inline;
}
.custom-card {
  padding: 10px;
}
